/* IMAGE/EXTRA LINKS JUST IN CASE: 

-Kast Logo: https://www.kastapp.co/images/kast-logo-horizontal-color-white.svg
-Laptop: https://www.kastapp.co/images/laptop-large-p-1600.png
-Purple Gradient: https://www.kastapp.co/images/gradient-violet-bg.jpg

*/

body {
  height: 200vh;
  /* background-color: #331a5c; */
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* NAVBAR */

.topNavbar{
  /* margin-right: 10px; */
  /* margin-left: 50%; */
  margin-top: -2em;
}

.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.item {
  color: white;
  text-decoration: none;
  font-size: large;
  border: solid 2px transparent;
}

.kastLogo{
  width: 12em;
  margin-left: 2px;
}

.kastButton1{
  border: solid 2px white;
  background: transparent;
  padding: 8px;
}

#kastButton{
  border: solid 2px white;
  background: transparent;
  padding: 8px;
}


/* MAIN DISPLAY */

.purpleGradient {
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  padding-top: 140px;
  padding-bottom: 110px;
  min-height: 50%;
  min-width: 1024px;
  background-color: #331a5c;
  background-size: cover;
  background-image: url(./assets/gradient-violet-bg.jpg);
}

.middleDisplay {
  text-align: center;
  /* padding: 3em; */
}

#laptopPic {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 2em;
}

.watchParties {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding: 25px;
}

.watchText {
  max-width: 560px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  font-weight: 500;
  padding: 35px;
}


.kastButton {
  min-width: 250px;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #fe9000;
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: solid 5px #fe9000;
}

.kastButton:hover{
  border-width: 6px;
}

/* SECOND SECTION */

.featuredIn {
  text-align: center;
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.featuredText {
  color: #434146;
  font-weight: 800;
  font-size: 28px;
  padding: 2em;
}

.featuredList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featuredPics {
  margin: auto;
  width: 32%;
  padding-bottom: 3%;
}

.relevant {
  color: black;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  padding: 3em;
}

/* THIRD SECTION */

.kastIs{
  text-align: center;
  background-image: url(./assets/green-bg.jpg);
  min-height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 14em;
}

.kastIsHeader{
  font-weight: bolder;
  font-size: 50px;
  color: white;
  margin-bottom: 2em;
}

.kastIsPara{
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
  color: white;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
